  <div class="row">
    <div class="col-lg-2 col-md-3">
      <app-categories></app-categories>
    </div>

    <div class="col-lg-10 col-md-9">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="game-item col" *ngFor="let game of gamesList">
        <app-game-list-item [gameItem]="game"></app-game-list-item>
        </div>
      </div>
    </div>

    <div class="col-md-2" hidden>
      <app-cart></app-cart>
    </div>
  </div>
