<div class="main-container row" >
  <div class="col-md-5">
    <div class="game-img-container">
      <img src="{{imgUrl}}{{gameItem.imageName}}" alt="">
    </div>
  </div>

  <div class="game-info-container col-md-7">
    <div class="game-info__header">
      <h1>{{gameItem.name}}</h1>
    </div>
    <div class="game-info__mark">
      Средняя оценка: {{gameItem.averageMark}} (5)
    </div>
    <div class="game-info__players">
      Количество игроков: {{gameItem.playersMin}} - {{gameItem.playersMax}}
    </div>
    <div class="game-info__age">
      Возраст: {{gameItem.ageRestrictions}} +
    </div>
    <div class="game-info__categories">
      <h2><span class="game-info__categories-badge badge bg-light text-dark" *ngFor="let category of categories">{{category}}</span></h2>
    </div>
    <div class="game-info__description">
      {{gameItem.description}}
    </div>
    <div class="game-info__to-cart-btn d-inline-flex align-items-center">
      <div class="game-info__price">{{gameItem.price}} р.</div>
      <a class="to-cart-btn btn btn-primary btn-lg" role="button" (click)="toCart(gameId)">В корзину</a>
    </div>

  </div>
</div>

<div class="comments-section-container" *ngIf="marksList.length > 0">
  <div class="comments-list-container">
    <h2>Отзывы</h2>
    <div class="mark-comment-container row" *ngFor="let mark of marksList">
      <div class="col-md-3">

        <div class="mark__user-name">{{mark.userName}}</div>
        <div class="mark__stars-container">
          <span *ngFor="let i of [1,2,3,4,5]">
            <span class="mark__star" *ngIf="mark.value >= i">
              <mat-icon>star</mat-icon>
            </span>
            <span class="mark__star" *ngIf="mark.value < i">
              <mat-icon>star_border</mat-icon>
            </span>
          </span>
        </div>
      </div>

      <div class="col-md-9">
        <div class="mark__comment">{{mark.comment}}</div>
      </div>
    </div>
  </div>
  <div class="new-comment-container row" *ngIf="isAuthorized == 3">
    <h2>Оставить свой отзыв</h2>
    <form class="example-form" [formGroup]="form" (ngSubmit)="onMarkSave()" >
      <mat-form-field class="example-full-width" >
        <mat-label>Оценка</mat-label>
        <mat-select formControlName="mark">
          <mat-option value="5">5</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="1">1</mat-option>
        </mat-select>
      </mat-form-field>
      <br><br>
      <mat-form-field class="comment-form example-full-width" >
        <mat-label>Комментарий</mat-label>
        <textarea rows="10" formControlName="comment" type="text" matInput></textarea>
      </mat-form-field>
      <br>
      <br>
<!--      <div *ngFor="let error of errors" class="error-container">-->
<!--        <mat-error>{{error.error}}</mat-error>-->
<!--        <br>-->
<!--      </div>-->
      <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Отправить отзыв</button>

    </form>

  </div>
</div>
