.main-container{
  margin-top: 2rem;
}
.game-img-container {
  padding: 15%;
}
.game-img-container img {
  width: 100%;
}
.game-info-container {
  border-left: 1px solid #dee2e6;
  padding: 5%;
  margin-bottom: 1rem;
}
.game-info__categories-badge{
  font-weight: 500;
  margin-right: .5rem;
}
.to-cart-btn {
  min-width: 30%;
}
.game-info-container > * {
margin-bottom: 1rem;
}
.game-info__to-cart-btn {
  margin-top: 1rem;
}
.game-info__price{
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 2rem;
}
.mark-comment-container {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: .5rem;
}
.mark-comment-container:last-child{
  border-bottom: none;
  margin-bottom: 1.75rem;
}
.mark__star {
  color: #FFDD00DF;
}
.mark__user-name {
  font-weight: 500;
  margin-bottom: .5rem;
}
.comment-form {
  width: 100%;
}
