<div class="main-header d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="main-header-logo d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Boardgames shop</span>
    </a>
    <nav class="main-header-nav d-inline-flex align-items-center mt-2 mt-md-0 ms-md-auto">
      <a *ngIf="isAuthorized === 0 || isAuthorized === 3" class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/', 'shop', 'games']">Игры</a>
      <a *ngIf="isAuthorized === 0 || isAuthorized === 3" class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/', 'shop', 'about']">О нас</a>

      <a *ngIf="isAuthorized === 1 || isAuthorized === 2" class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/', 'admin', 'games']">Игры</a>
      <a *ngIf="isAuthorized === 1 || isAuthorized === 2" class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/', 'admin', 'categories']">Категории</a>
      <a *ngIf="isAuthorized === 1 || isAuthorized === 2" class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/', 'admin', 'marks']">Оценки</a>
<!--      <a *ngIf="isAuthorized === 1 || isAuthorized === 2" class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/', 'admin', 'register']">Создать учетную запись</a>-->


      <a *ngIf="userName"class="header-user-name me-3 py-2 text-dark text-decoration-none" href="#">{{userName}}</a>
      <a *ngIf="isAuthorized === 0" class="auth-btn btn btn-outline-primary me-3" [routerLink]="['user', 'auth']">Авторизация</a>
      <a *ngIf="isAuthorized !== 0" class="auth-btn btn btn-outline-primary me-3" (click)="logOut()">Выход</a>
      <button *ngIf="isAuthorized === 0 || isAuthorized === 3" type="button" class="shopping-cart-btn btn btn-outline-primary me-3" [routerLink]="['shop', 'cart']">
        <mat-icon class="icon-display">shopping_cart</mat-icon>
        <span class="badge bg-secondary small" >{{ cartTotal }}</span>
      </button>
    </nav>
  <div id="cookie_notification">
    <p>Этот сайт использует cookie-файлы и другие технологии, чтобы пользоваться сайтом было удобно.</p>
    <button class="cookie_accept btn btn-outline-primary">Хорошо</button>
  </div>
</div>

