.main-header {
  padding: 1rem;
}
.main-header-nav a {
  padding: .5rem;
}
.auth-btn {
  border: none;
}
.header-user-name{
  font-weight: 500;
}
.icon-display{
  transform: scale(1.25);

}

@media screen and (max-width: 768px){
  .main-header-nav{
    text-transform: uppercase;
  }
  .main-header-nav a {
    padding: .125rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .main-header-nav a {
    font-size: 1.125rem;
    line-height: 1.125rem;
  }
  .main-header-logo {
    font-size: 2rem;
  }
}
#cookie_notification{
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  bottom: 15px;
  left: 50%;
  width: 900px;
  max-width: 85%;
  transform: translateX(-50%);
  padding: 25px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_notification p{
  margin: 0;
  font-size: .9rem;
  text-align: left;
}


@media (min-width: 576px){
  #cookie_notification.show{
    display: flex;
  }
  .cookie_accept{
    margin: 0 0 0 25px;
  }
}

@media (max-width: 575px){
  #cookie_notification.show{
    display: block;
    text-align: left;
  }
  .cookie_accept{
    margin: 10px 0 0 0;
  }
  #cookie_notification p{
    font-size: .75rem;
  }
}
