<h1>Добавление игры</h1>
<form class="example-form" [formGroup]="form" (ngSubmit)="onSave()" >
  <mat-form-field class="example-full-width" >
    <mat-label>Название игры</mat-label>
    <input formControlName="name" type="text" matInput>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" >
    <mat-label>Цена</mat-label>
    <input formControlName="price" type="number" matInput>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" >
    <mat-label>Минимальное число игроков</mat-label>
    <input formControlName="playersMin" type="number" matInput>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" >
    <mat-label>Максимальное число игроков</mat-label>
    <input formControlName="playersMax" type="number" matInput>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" >
    <mat-label>Возрастные ограничения</mat-label>
    <input formControlName="ageRestrictions" type="number" matInput>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" >
    <mat-label>Количество</mat-label>
    <input formControlName="inStock" type="number" matInput>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" >
    <mat-label>Описание</mat-label>
    <textarea rows="10" formControlName="description" type="text" matInput></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" >
    <mat-label>Категории</mat-label>
    <mat-select formControlName="categories" multiple>
      <mat-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br><br>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputFile">Изображение</label>
    <input type="file" class="form-control" id="inputFile"
           name="imgFile"
           (change)="onFileSelect($event)">
  </div>
  <br>
  <br>
  <div *ngFor="let error of errors" class="error-container">
    <mat-error>{{error.error}}</mat-error>
    <br>
  </div>
  <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Добавить игру</button>

</form>
