.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.register-card {
  max-width: 500px;
  margin: 1rem auto;
}
.consent-container {
  margin: .5rem;
}
form {
  margin-bottom: 2rem;
}
