<div class="panel">
  <h1>Игры</h1>
  <button mat-raised-button color="primary" [routerLink]="['create']">Добавить игру</button>
</div>

<table mat-table class="games-table" [dataSource]="gamesList" class="mat-elevation-z4">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let game, let i = index"> {{ i + 1 }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Название </th>
    <td mat-cell *matCellDef="let game" > {{game.name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Действия </th>
    <td mat-cell *matCellDef="let game">
      <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['update', game.id]">edit
      </mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="remove(game.id)">delete</mat-icon>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
