<!--<span>{{cartItem.gameName}}</span> x <span>{{ cartItem.quantity }}</span>:-->
<!--<strong>{{ (cartItem.price * cartItem.quantity) }} р.</strong>-->

<!--<td>1</td>-->
<!--<td><img class="cart-item-img" src="http://localhost/diploma/api/assets/img/{{ cartItem.imageUrl }}" alt=""></td>-->
<!--<td>{{ cartItem.gameName }}</td>-->
<!--<td>{{ cartItem.price }} р.</td>-->
<!--<td>{{ cartItem.quantity }}</td>-->
<!--<td>{{ (cartItem.price * cartItem.quantity) }} р.</td>-->
<!--<td><mat-icon>delete</mat-icon></td>-->
