<h1>Редактирование категории</h1>
<form class="example-form" [formGroup]="form" (ngSubmit)="onSave()" >
  <mat-form-field class="example-full-width" >
    <mat-label>Название категории</mat-label>
    <input formControlName="name" type="text" matInput value="{{category.name}}">
  </mat-form-field>
  <br>
  <div *ngFor="let error of errors" class="error-container">
    <mat-error>{{error.error}}</mat-error>
    <br><br>
  </div>
  <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Редактировать категорию</button>

</form>
