.panel {
  margin-bottom: 1rem;
}

.mat-cell,
.mat-header-cell {
  padding: 0 5%;
}
.mat-table {
  min-width: 75%;
  margin: 1rem 0;
}
@media screen and (max-width: 768px){
  .mat-table {
    width: 100%;
    margin: .5rem 0;
  }
}
