<div class="main-banner-container">
</div>

<div class="about-container">
  <h1>О Нас</h1>
  <div class="about-text">
    <p>
      Интернет-магазин настольных игр BoardGames shop  предлагает широкий ассортимент настольных игр.
    </p>
    Основные преимущества:
    <ul>
      <li>Удобный интернет-магазин</li>
      <li>Широкий ассортимент</li>
      <li>Быстрая доставка</li>
      <li>Удобный самовывоз</li>
    </ul>
    <p>Наш адрес: город Санкт-Петербург, проспект Славы дом 43 (станция метро Проспект Славы)</p>
    <p>Телефон : +7 (812) 123-45-67 </p>
  </div>
</div>
