.main-banner-container {
  background: no-repeat url("http://localhost/diploma/api/assets/img/nika-benedictova-VrtwS-ayI5U-unsplash.jpg") 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container {
  width: 500px;
  max-width: 75%;
  margin: 1rem auto;
}
@media screen and (max-width: 768px){
  .main-banner-container {
    height: 175px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .main-banner-container {
    height: 250px;
  }
}

