<div class="panel">
  <h1>Отзывы</h1>
</div>

<table mat-table class="marks-table" [dataSource]="marksList" class="mat-elevation-z4">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let mark, let i = index"> {{ i + 1 }} </td>
  </ng-container>

  <!-- Game Name Column -->
  <ng-container matColumnDef="game-title">
    <th mat-header-cell *matHeaderCellDef> Название игры </th>
    <td mat-cell *matCellDef="let mark" > {{mark.gameName}} </td>
  </ng-container>

  <!-- User Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Имя </th>
    <td mat-cell *matCellDef="let mark" > {{mark.userName}} </td>
  </ng-container>

  <!-- Mark Column -->
  <ng-container matColumnDef="mark">
    <th mat-header-cell *matHeaderCellDef> Оценка </th>
    <td mat-cell *matCellDef="let mark" > {{mark.value}} </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Комментарий </th>
    <td mat-cell *matCellDef="let mark" > {{mark.comment}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Действия </th>
    <td mat-cell *matCellDef="let mark">
<!--      <mat-icon aria-hidden="false" [routerLink]="['update', mark.id]">edit</mat-icon>-->
      <mat-icon aria-hidden="false" (click)="checkMark(mark.id)">done</mat-icon>
      <mat-icon aria-hidden="false" (click)="removeMark(mark.id)">delete</mat-icon>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

