.panel {
  margin-bottom: 1rem;
}

.mat-cell,
.mat-header-cell {
  padding: 0 5%;
}
.mat-table {
  min-width: 75%;
  margin: 1rem 0;
}
@media screen and (max-width: 768px){
  .mat-table {
    width: 100%;
    margin: .5rem 0;
  }
  td.mat-cell,
  th.mat-header-cell {
    padding: 3px;
  }
  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type {
    padding-left: 6px;
  }
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type {
    padding-right: 6px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .mat-table {
    width: 100%;
    margin: .5rem 0;
  }
  .mat-cell,
  .mat-header-cell {
    padding: 0 2%;
  }
}
