<mat-card class="register-card">
  <h1>Авторизация</h1>
  <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width">
      <mat-label>Электронная почта</mat-label>
      <input formControlName="email" type="email" matInput placeholder="Ex. abc@example.com" >
      <mat-error *ngIf="form.get('account.email')?.touched && form.get('account.email')?.hasError('email')">
        Электронная почта введена некорректно
      </mat-error>
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width">
      <mat-label>Пароль</mat-label>
      <input formControlName="password" type="password" matInput placeholder="......">
    </mat-form-field>
    <br>
    <div [hidden]="capcha">
      <re-captcha (resolved)="resolved($event)" siteKey="6Le38JceAAAAAIJishYMAkEcXfHU3tWCitEz_GO_"></re-captcha>
    </div>
    <div [hidden]="!capcha">
      <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Войти</button>
    </div>
    <br>
    <div *ngFor="let error of errors" class="error-container">
      <mat-error>{{error.error}}</mat-error>
      <br><br>
    </div>
    <div class="link-to-register-container">
      <span>Нет учетной записи?</span>
      <a [routerLink]="['/', 'user', 'register']">Зарегистрироваться</a>
    </div>
  </form>
</mat-card>
<br>
