.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.register-card {
  max-width: 400px;
  width: 90%;
  margin: 1rem auto;
}
.mat-card {
  margin: 10px auto;
}
.mat-error {
  margin-top: 1rem;
}
.link-to-register-container{
  display: flex;
  justify-content: space-between;
}
.link-to-register-container a{
  text-decoration: none;
}
