
  <div class="card shadow-sm">
    <div class="img-container">
      <img src="{{imgUrl}}{{gameItem.imageName}}" alt="">
    </div>

    <div class="card-body">
      <h2>{{gameItem.name}}</h2>
      <p class="card-text">{{ gameItem.description | slice: 0:100 }}...</p>
      <p class="price">{{ gameItem.price }} р.</p>

      <div class="btn-group-sm">
        <button type="button" class="btn-to-cart btn btn-sm btn-primary" (click)="addToCart()">В корзину</button>
        <button type="button" class="btn-more btn btn-sm btn-outline-secondary" [routerLink]="['/', 'shop', 'games', gameItem.id]">Подробнее</button>

      </div>


    </div>
  </div>

