.img-container {
  padding: 1.5rem 1.5rem 0;
}

.img-container img {
  width: 100%;

}
.card-body h2 {
  height: 3rem;
  line-height: 24px;
}
.card-text {
  height: 5rem;
}

.price {
  font-weight: 600;
  font-size: 1rem;
  text-align: right;
}

.btn-to-cart,
.btn-more {
  border-radius: 2px;
  min-width: 40%;
}

.btn-group-sm {
  text-align: center;
  margin-bottom: 1rem;
}
.btn-more {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-to-cart {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

@media screen and (max-width: 768px){
  .card-body h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .card-text {
    display: none;
  }
  .price {
    font-size: 1.75rem;
  }
  .btn-to-cart,
  .btn-more {
    font-size: 1.5rem;
  }

  .card-body > * {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .mat-table {
    width: 100%;
    margin: .5rem 0;
  }
}
