<div *ngIf="cartItems.length == 0" class="alert alert-info">В корзине пока ничего нет</div>

<table *ngIf="cartItems.length > 0" mat-table [dataSource]="cartItems" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let item, let i = index">{{ i + 1 }}</td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>

<!--  &lt;!&ndash; Img Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="img" hidden>-->
<!--    <th mat-header-cell *matHeaderCellDef>  </th>-->
<!--    <td mat-cell *matCellDef="let item"> <img class="cart-item-img" src="http://localhost/diploma/api/assets/img/{{ item.imageName }}" alt=""> </td>-->
<!--  </ng-container>-->

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Наименование</th>
    <td mat-cell *matCellDef="let item">{{item.gameName}}</td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Цена </th>
    <td mat-cell *matCellDef="let item">{{ item.price }}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Количество</th>
    <td mat-cell *matCellDef="let item">
      {{ item.quantity }}
<!--      <input class="border-0 border-bottom w-25" type="number" value="{{ item.quantity }}">-->
    </td>
    <td mat-footer-cell *matFooterCellDef><strong>Всего</strong></td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Стоимость</th>
    <td mat-cell *matCellDef="let item">{{ (item.price * item.quantity) }}</td>
    <td mat-footer-cell *matFooterCellDef><strong>{{cartTotal}}</strong></td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Действия</th>
    <td mat-cell *matCellDef="let item"><mat-icon aria-label="delete icon" (click)="remove(item.gameId)">delete</mat-icon> </td>
    <td mat-footer-cell *matFooterCellDef >
      <button *ngIf="isAuthorized != 0" [routerLink]="['/', 'shop', 'order']"
      class="btn btn-outline-success btn-sm">Заказать</button>
      <button  *ngIf="isAuthorized == 0" [routerLink]="['/', 'user', 'auth']"
        class="btn btn-outline-success btn-sm">Заказать</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
