<div class="order-main-container">
  <h2>Выберите способ доставки</h2>
  <div class="order-address-container row">
    <div class="checkbox-container col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="showShopAddress()">
        <label class="form-check-label" for="flexRadioDefault1">
          Самовывоз из магазина
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"  (click)="showAddressInput()">
        <label class="form-check-label" for="flexRadioDefault2">
          Доставка
        </label>
      </div>
    </div>

    <div class="delivery-address-container col-md-8">

      <div class="shop-address-info" *ngIf="deliverySelect == 1">
        <h3>Адрес доставки:</h3>
        Санкт-Петербург, проспект Славы, дом 43 - бесплатно - завтра {{tomorrow | date:"dd.MM.yyyy"}}
        <div class="order-btn-container">
          <button class="btn btn-outline-success btn-sm" (click)="submitDeliveryShop()">Заказать</button>
        </div>
      </div>
      <div class="user-address-input" *ngIf="deliverySelect == 2">
        <h3>Адрес доставки:</h3>
        <form class="example-form" [formGroup]="form" (ngSubmit)="submitDeliveryAddress()">
          <mat-form-field class="example-full-width">
            <mat-label>Введите адрес доставки</mat-label>
            <input formControlName="address" type="text" matInput>
          </mat-form-field>
          <br>
          <div class="delivery-price-date-submit">
            <div class="delivery-price-date">
              - бесплатно - завтра {{tomorrow | date:"dd.MM.yyyy"}}
            </div>
            <button class="btn btn-outline-success btn-sm" [disabled]="form.invalid" type="submit">Заказать</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
