.delivery-address-container {
  border-left: 1px solid #dee2e6;
  padding: 0 5%;
  margin-bottom: 1rem;
}
.form-check {
  margin: 1rem;
}
.order-btn-container{
  display: flex;
  justify-content: flex-end;
}
.delivery-price-date-submit {
  display: flex;
  justify-content: space-between;
}
