<mat-card class="register-card">
  <h1>Регистрация</h1>
  <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">

    <div formGroupName="account" class="register-form-container">

      <mat-form-field class="example-full-width">
        <mat-label>Электронная почта</mat-label>
        <input formControlName="email" type="email" matInput placeholder="Ex. abc@example.com" >
        <mat-error *ngIf="form.get('account.email')?.touched && form.get('account.email')?.hasError('email')">
          Электронная почта введена некорректно
        </mat-error>
        <mat-error
          *ngIf="form.get('account.email')?.touched && form.get('account.email')?.hasError('required')">
          Электронная почта <strong>обязательна</strong>
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Пароль</mat-label>
        <input formControlName="password" type="password" matInput placeholder="......">
        <mat-error
          *ngIf="form.get('account.password')?.touched && form.get('account.password')?.hasError('pattern')">
          Пароль должен состоять из <strong>8</strong> или более символов латинского алфавита,
          содержать заглавные и строчные буквы, цифры.</mat-error>
        <mat-error
          *ngIf="form.get('account.password')?.touched && form.get('account.password')?.hasError('required')">
          Пароль <strong>обязателен</strong>
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Подтверждение пароля</mat-label>
        <input formControlName="passwordConfirm" type="password" matInput placeholder="......">
        <mat-error *ngIf="form.get('account.passwordConfirm')?.hasError('passwordsNotEqual')">
          Пароли <strong>не совпадают</strong>
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Имя</mat-label>
        <input formControlName="name" type="text" matInput>
        <mat-error
          *ngIf="form.get('account.name')?.touched && form.get('account.name')?.hasError('pattern')">
          Имя введено <strong>некорректно</strong>. Пожалуйста используйте только строчные и заглавные буквы и пробел, если необходимо.</mat-error>
        <mat-error
          *ngIf="form.get('account.name')?.touched && form.get('account.name')?.hasError('required')">
          Имя <strong>обязательно</strong>
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Телефон</mat-label>
        <input formControlName="phone" prefix="+7" mask="(000) 000-00-00" placeholder="Ex. +7 (912) 345-67-89" matInput>
        <mat-error
          *ngIf="form.get('account.phone')?.touched && form.get('account.phone')?.hasError('pattern')">
          Номер телефона введен <strong>некорректно</strong>. Пожалуйста </mat-error>
      </mat-form-field>
      <br><br>
      <div *ngFor="let error of errors" class="error-container">
        <mat-error>{{error.error}}</mat-error>
        <br><br>
      </div>
      <div [hidden]="capcha">
        <re-captcha (resolved)="resolved($event)" siteKey="6Le38JceAAAAAIJishYMAkEcXfHU3tWCitEz_GO_"></re-captcha>
      </div>
      <div [hidden]="!capcha">
        <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Зарегистрироваться</button>
        <div class="consent-container">
          <small>Нажимая "Зарегистрироваться", вы даете согласие на обработку и хранение персональных данных (согласно №152 -ФЗ)
            и соглашаетесь с политикой конфиденциальности.</small>
        </div>
      </div>

    </div>
  </form>
</mat-card>
<br>
